/*!CONSTANTS*/
:root {
  --blue: #007bff;
  --light-blue: #eaeff1;
  --indigo: #6610f2;
  --pink: #e83e8c;
  --red: tomato;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --grey: #6c757d;
  --dark-grey: #495057;
  --light-grey: #c3c7cc;
  --black: #343434;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
code {
  font-size: 1.15em;
  font-weight: 600;
  color: var(--blue);
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: var(--dark-grey);
}
.header__title {
  color: white;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1em;
  padding-left: 30px;
}
.header__buttons {
  transform: scale(0.7);
}
.header__buttons button {
  width: 30px;
  height: 20px;
  padding: 0;
}
.container {
  display: flex;
  width: 100%;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
  margin: 20px 0px 30px;
}
.row__label {
  font-weight: 600;
  color: var(--dark-grey);
  width: 100%;
  margin: 10px 0px;
}
.row__description {
  color: var(--dark-grey);
  text-align: justify;
  width: 100%;
}
/*! sidebar*/
.sidebar {
  position: absolute;
  top: 10vh;
  transform: translateX(-250px);
  transition: all 0.3s ease;
  z-index: 10;
  background: white;
  color: var(--grey);
  border-right: 1px solid var(--light-grey);
  width: 250px;
  min-height: 90vh;
  padding: 50px 0;
}
.sidebar.active {
  transform: translateX(0px);
}
.sidebar__label {
  font-weight: 600;
  color: var(--dark-grey);
  width: 100%;
  padding-left: 40px;
  margin: 10px 0;
}
.nav__link {
  list-style: none;
  margin-bottom: 8px;
}
.nav__link a {
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
}
.nav__link a:hover {
  color: var(--dark-grey);
}

/*! hamburger button*/
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
.hamburger:hover {
  opacity: 0.9;
}
.hamburger:focus {
  outline: none;
}
.hamburger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger__line {
  top: 50%;
  display: block;
  margin-top: -2px;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}
.hamburger__line,
.hamburger__line:after,
.hamburger__line:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-property: transform;
  border-radius: 4px;
  background-color: white;
}
.hamburger__line:after,
.hamburger__line:before {
  display: block;
  content: '';
}
.hamburger__line:after {
  bottom: -10px;
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__line:before {
  top: -10px;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger.active .hamburger__line {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}
.hamburger.active .hamburger__line:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}
.hamburger.active .hamburger__line:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.main {
  width: 100%;
  min-height: 90vh;
}
.line-hr {
  width: 100%;
  border-bottom: 1px solid var(--light-grey);
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  .header__title {
    font-size: 1.5em;
  }
  .sidebar {
    position: relative;
    transform: translate(0, 0);
    top: 0;
  }
  .header__buttons {
    transform: scale(1);
  }
  .hamburger {
    display: none;
  }
}
/* .App-logo {
  animation: spline infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes spline {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*! Basic styles for components */
.button {
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 1);
  transition: all 0.3 ease;
  cursor: pointer;
  min-width: 90px;
  padding: 0 20px;
  margin: 5px;
}
.button:disabled {
  opacity: 0.5;
  cursor: default;
  box-shadow: none;
}
.button:disabled:hover {
  opacity: 0.5;
}
.button:hover {
  opacity: 0.8;
}
.button--green {
  background: var(--green);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--green);
}
.button--blue {
  background: var(--blue);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--blue);
}
.button--red {
  background: var(--red);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--red);
}
.button--orange {
  background: var(--orange);
  box-shadow: 2px 2px 5px 0px var(--orange);
}
.button--indigo {
  background: var(--indigo);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--indigo);
}
.button--pink {
  background: var(--pink);
  box-shadow: 2px 2px 5px 0px var(--pink);
}
.button--teal {
  background: var(--teal);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--teal);
}
.button--cyan {
  background: var(--cyan);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--cyan);
}
.button--black {
  background: var(--black);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--black);
}
.button--grey {
  background: var(--grey);
  color: white;
  box-shadow: 2px 2px 5px 0px var(--grey);
}
.button--yellow {
  background: var(--yellow);
  box-shadow: 2px 2px 5px 0px var(--yellow);
}
.button--white {
  background: var(--white);
  box-shadow: 2px 2px 5px 0px var(--white);
}
.button--large {
  height: 45px;
  font-size: 1.1em;
}
.button--medium {
  height: 30px;
  font-size: 0.9em;
}
.button--small {
  height: 20px;
  font-size: 0.7em;
}
.button--square {
  border-radius: 0;
}
.button--rounded {
  border-radius: 3px;
}
.button--round {
  border-radius: 20px;
}

/*! Form elements*/
form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.input__label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 0 5px;
  margin: 5px 0;
}
.input__field {
  height: 30px;
  border: none;
  border-radius: 3px;
  background: var(--light-blue);
  width: 70%;
  padding: 0 10px;
  margin: 0 5px;
}

/*! Users custom styles*/
.purple {
  background: darkorchid;
  color: beige;
}
