/*!CONSTANTS*/
:root {
  --blue: #248fba;
  --dark-blue: #0a3545;
  --sky-blue: #14e3db;
  --grey: #73767a;
  --light-grey: #d3d3d357;
  --dark-grey: #3a3b3d;
  --red: tomato;
  --yellow: yellow;
  --green: rgb(36, 201, 85);
  --white: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
code {
  font-size: 1.3em;
  font-weight: 600;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: var(--dark-grey);
}
.header__title {
  color: white;
  font-style: italic;
  padding-left: 30px;
}
.container {
  display: flex;
  width: 100%;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px;
  margin: 20px 0px 30px;
  width: 100%;
}
.row__label {
  font-weight: 600;
  color: var(--dark-grey);
  width: 100%;
}
.row__label {
  font-weight: 600;
  color: var(--dark-grey);
  width: 100%;
}
.row__description {
  color: var(--dark-grey);
  width: 100%;
}
/*! sidebar*/
.sidebar {
  position: absolute;
  top: 10vh;
  transform: translateX(-250px);
  transition: all 0.3s ease;
  z-index: 10;
  background: white;
  color: var(--grey);
  border-right: 1px solid var(--grey);
  width: 250px;
  height: 90vh;
  padding: 50px 0;
}
.sidebar.active {
  transform: translateX(0px);
}
.sidebar__label {
  font-weight: 600;
  color: var(--dark-grey);
  width: 100%;
  padding-left: 40px;
}
.nav__link {
  list-style: none;
}
.nav__link a {
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 8px;
}
.nav__link a:hover {
  color: var(--dark-grey);
}

/*! hamburger button*/
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
.hamburger:hover {
  opacity: 0.9;
}
.hamburger:focus {
  outline: none;
}
.hamburger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger__line {
  top: 50%;
  display: block;
  margin-top: -2px;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}
.hamburger__line,
.hamburger__line:after,
.hamburger__line:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-property: transform;
  border-radius: 4px;
  background-color: white;
}
.hamburger__line:after,
.hamburger__line:before {
  display: block;
  content: '';
}
.hamburger__line:after {
  bottom: -10px;
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__line:before {
  top: -10px;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger.active .hamburger__line {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}
.hamburger.active .hamburger__line:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}
.hamburger.active .hamburger__line:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.main {
  width: 100%;
  min-height: 90vh;
  background: var(--light-grey);
}

@media screen and (min-width: 600px) {
  .sidebar {
    position: relative;
    transform: translate(0, 0);
  }
  .hamburger {
    display: none;
  }
  .sidebar {
    top: 0;
  }
}
/* .App-logo {
  animation: spline infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes spline {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*! Basic styles for components */
.button {
  border-radius: 3px;
  border: 1px solid white;
  transition: all 0.3 ease;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;
  margin: 2px 5px;
}
.button:disabled {
  background: var(--grey);
  color: black;
  opacity: 0.5;
  cursor: default;
}
.button:disabled:hover {
  opacity: 0.5;
}
.button:hover {
  opacity: 0.8;
}
.button--green {
  background: var(--green);
  color: white;
  border-color: white;
}
.button--blue {
  background: var(--blue);
  color: white;
  border-color: white;
}
.button--red {
  background: var(--red);
  border-color: white;
}
.button--grey {
  background: var(--dark-grey);
  color: white;
  border-color: white;
}
.button--yellow {
  background: var(--yellow);
}
.button--white {
  background: var(--white);
}
.button--large {
  height: 45px;
  font-size: 1.1em;
}
.button--small {
  height: 20px;
  font-size: 0.7em;
}
